*
{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background:url('images/abstract-brown-gradient-well-used-as-background-product-display.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.container
{
    max-width: 700px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #ffffff0f;
    width: 100%;
    height: auto;
    padding: 50px;
    border-radius: 12px;
    backdrop-filter: blur(8px);
    box-shadow: #0000001a 0px 4px 12px;
}

.container h1
{
    color: #c9973a;
    text-align: center;
    padding-bottom: 24px;
}

form .userdetails
{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.input
{
  width: 240px;
  padding: 12px 12px;
  border-radius: 12px;
  margin: 32px 0px;
  
  backdrop-filter: blur(8px);
  color:#545252;
}

input
{
    width: 208px;
    background: #c9973a ;
    padding: 0px 4px;
    font-size: 16px ;
    /* background: none; */
    color: #545252;
    border: none;
    border-radius: 5px;


}

.input:focus
{
    outline: none;
    border: none;
}


button{
    width: 100%;
    padding: 12px 12px;
    border-radius: 12px;
    margin: 12px 0px;
    background: #c9973a ;
    border: 1px solid #c9973a;
    color:  #545252;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

button:hover
{
  background: none;
  border: 1px solid #b08f4d;
  color: #b08f4d;

}

p
{
 text-align: center;
 color: #545252;
}

p a
{
    
    color: #545252;
}